.grilla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-around;
    .tarjeta-lentes {
        width: 300px;
        height: 400px;
        border: 2px solid $colorPrincipal;
        background-color: $colorFondoTarjetas;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 5px 9px 11px -1px $colorSombracaja;
        -webkit-box-shadow: 5px 9px 11px -1px $colorSombracaja;
        -moz-box-shadow: 5px 9px 11px -1px $colorSombracaja;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        transition: 1.5s;
        &:hover {
            transform: scale(1.02);
        }
        .tarjeta-lentes-img {
            width: 250px;
            height: 40%;
            overflow: hidden;
            object-fit: cover; 
        }
        .tarjeta-lentes-title {
            margin:0;
        }
        .tarjeta-lentes-desc {
            margin:0;
            }
        .tarjeta-lentes-btn{
            margin-bottom: 10px;
            border-radius: 10px;
            margin: 3px;
            padding: 8px 40px;
            margin-top: 10px;
            border: 2px solid $colorBorde;
            background-color: $colorBotonComprar;
            color: $colorFondoTarjetas;
            font-style: bold;
            font-family:$fuentePrincipal;
            &:hover {
                background-color: $colorBotonIndex;
                border: 2px solid $colorBotonIndex;
            }
        }
    }
}