* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------Header------*/
.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1c285e;
}

.nav-logo {
    padding: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.nav-logo img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.nav-title {
    font-size: 50px;
    font-family: 'Lora', serif;
    font-style: italic;
}

.nav-icons {
    margin: 20px;
    font-size: 30px;
}

.nav-user , .nav-cart {
    margin: 10px;
}

#menu , #menu-check {
    display: none;
}

.navegador {
    background-color: #1c285e;
    font-family: 'Lora', serif;
    font-style: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegador > ul > li {
    display: inline-block;
}

.navegador > ul > li > ul {
    display: none;
    background-color: #1c285e;
    list-style: none;
}

.navegador ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navegador > ul > li:hover ul {
    display: block;
    position: absolute;
}

@media (max-width:992px) {

    .nav-logo img{
        width: 80px;
        height: 64px;
    }

    .nav-title {
        font-size: 40px;
    }

    .nav-icons {
        font-size: 25px;
    }

    .navegador ul li a {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    
    #menu-check:not(:checked) ~ .navegador {
        display: none;
    }

    #menu-check:checked ~ .navegador {
        display: block;
    }

    #menu {
        display: block;
        color: #ffffff;
        background-color: #1c285e;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        z-index: 300;
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    .navegador {
        position: absolute;
        top: 136px;
        left: 0;
        height: 100%;
        opacity: 0.85;
        font-size: 25px;
    }

    .navegador ul , .navegador ul li {
        display: block;
        text-align: left;
    }
 
}

@media (max-width:576px) {
   
    .nav-logo img{
        width: 64px;
        height: 51px;
    }

    .nav-title {
        font-size: 30px;
    }

    .nav-icons {
        font-size: 20px;
    }

    .navegador ul li a {
        font-size: 16px;
    }

    .navegador {
        top: 123px;
    }
}

@media (max-width:450px) {

    .nav-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .nav1 {
        justify-content: center;
    }

    .nav-icons {
        font-size: 25px;
    }

    .navegador {
        top: 212px;
    }
}
/*------Fin-Header------*/

/*--------Footer--------*/
.foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #1c285e;
    color: #ffffff;
    font-family: 'Lora', serif;
    font-size: 15px;
}

.legal a {
    text-decoration: none;
    color: #ffffff;
}

.legal p {
    padding: 4px;
}

.sub p {
    padding: 10px 0px;
}

.sub-input {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #000000;
}

.sub-btn {
    color: #ffffff;
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
}

@media (max-width:1200px) {
    
    .foot {
        font-size: 13px;
    }
}

@media (max-width:992px) {
    
    .sub {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sub p{
        padding: 5px;
        margin: 3px;
    }
}

@media (max-width:768px) {
    
    .foot{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
        font-size: 15px;
    }
}
/*------Fin-Footer------*/

/*--------Index-Main--------*/

.glasses {
    width: 100%;
    height: 150px;
    background-image: url(../img/fondo-lentes-receta.jpg);
}

.sunglasses {
    width: 100%;
    height: 150px;
    background-image: url(../img/fondo-lentes-sol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-lenses {
    width: 100%;
    height: 150px;
    background-image: url(../img/fondo-lentes-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.glasses-title , .sunglasses-title , .contact-lenses-title {
    font-size: 40px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
}

.glasses-title , .sunglasses-title , .contact-lenses-title {
    color: #39b9ef;
}

.tarjeta {
    width: 300px;
    height: 400px;
    border: 2px solid #1c285e;
    border-radius: 10px;
    overflow: hidden;
}

.tarjeta-img {
    width: 250px;
    height: 40%;
    overflow: hidden;
    object-fit: cover;
}


@media (min-width:500px) {

    .sunglasses {
        background-position-y: -140px;
    }

    .contact-lenses {
        background-position-y: -50px;
    }
}

@media (min-width:768px) {
    
    .sunglasses {
        background-position-y: -200px ;
    }
    .contact-lenses {
        background-position-y: -80px;
    }
    .slider img{
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width:992px) {
    
    .sunglasses {
        background-position-y: -250px ;
    }
    .contact-lenses {
        background-position-y: -140px;
    }
    .slider img{
        height: 500px;
        object-fit: cover;
    }
}

@media (min-width:1200px) {
    
    .sunglasses {
        background-position-y: -350px ;
    }
    .contact-lenses {
        background-position-y: -250px;
    }
    .slider img{
        height: 650px;
        object-fit: cover;
    }
}
/*------Fin-Index-------*/